<!-- <div id="slider" class="nivoSlider">
	<%# image_tag("p1-xl.jpg") %>
	<%# image_tag("p1-xl-old.jpg") %>
</div> -->

<div class="product-container">
	<div class="product-details">
		<div class="name"><h1>Card Case</h1></div>
		<div class="price"><h1>$175</h1></div>
		<div class="description">A beautiful card case handcrafted in Paris' finest leather atelier, alongside goods by Goyard, Chanel and Hermès. Matte black Italian python outer by Louisiane HCP. Purple French goatskin lining by Alran. Structured finish. Tonal stitching. Five compartments total. Measures 10 x 8 centimeters. 2.5 times cost markup only.</div>
		<button class="add-to-bag">Add To Bag</button>
		<div class="added">Added to your bag</div>
		<button class="checkout">Checkout</button>
		<!-- <div class="product_link"><%= link_to "Measurements", 'javascript:void(0)' %></div> -->
		<div class="product_link"><%= link_to "Client Services", 'mailto:hello@lukemacauley.com?subject=Client Services' %></div>
		<!-- <div class="product_link share-link"><%= link_to "Share", 'javascript:void(0)', class: "share-link-1" %></div>
		<ul class="share-links">
			<li><%= link_to image_tag("facebook.svg"), 'javascript:void(0)', class: "facebook-link" %></li>
			<li><%= link_to image_tag("twitter.svg"), 'javascript:void(0)', class: "twitter-link" %></li>
			<li><%= link_to image_tag("pinterest.svg"), 'javascript:void(0)', class: "pinterest-link" %></li>
		</ul> -->
	</div>
	<div class="image-container"><%= image_tag("p1-xl.jpg") %></div>
	<div class="image-container"><%= image_tag("p2-xl.jpg") %></div>
</div>

<div class="xl-container">
	<%= image_tag("p1-xl.jpg") %>
</div>