<% provide(:title, 'SOCIAL') %>

<div id="masonry-container" class="fadeInUp">
  <div class="item-container">
  	<div class="item">
  		<div class="first-container">
  			<p>A curated stream of my visual unconciousness</p>
  			<%= link_to image_tag("twitter.svg", class: "twitter", alt: "Twitter"), "http://www.twitter.com/lukemacauley", target: "_blank" %>
  			<%= link_to image_tag("instagram.svg", class: "instagram", alt: "Instagram"), "http://www.instagram.com/lukemacauley", target: "_blank" %>
  		</div>
  	</div>
  	<div class="item"><%= image_tag("1.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>


    <div class="insta-overlay">
      <div class="full-image"><%= link_to image_tag("ar.jpg", class: "ar-pic"), "http://www.instagram.com", target: "_blank" %></div>
      <div class="right-column">
        <%= link_to image_tag("cross.svg", class: "insta-exit"), "javascript:void(0)" %>
        <div class="handle">@lukemacauley</div>
        <div class="caption">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div>
        <div class="social-numbers">
          <%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span>
        </div>
        <div class="comment">@lol yeah</div>
        <div class="comment">@lol yeah</div>
        <div class="comment">@lol yeah</div>
        <div class="comment">@lol yeah</div>
      </div>
    </div>




    <div class="item"><%= image_tag("2.jpeg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("3.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("4.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("5.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("6.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("7.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("8.png") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("11.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("4.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("5.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("6.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("7.jpg") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
    <div class="item"><%= image_tag("8.png") %><a class="insta-link" href="javascript:void(0)"><div class="item-overlay"><div class="social-text">A curated stream of my visual unconciousness. From Twitter and Instagram, mostly Insta.</div><div class="social-numbers"><%= image_tag("social-love.svg", class: "social-love") %><span class="social-love-number">35</span><%= image_tag("social-comment.svg", class: "social-comment") %><span class="social-comment-number">23</span></div></div></a></div>
  </div>
</div>