<footer id="footer">
	<ul>
		<li><%= link_to 'Contact', 'mailto:hello@lukemacauley.com?subject=Client Services' %></li>
		<li><%= link_to 'Subscribe', 'javascript:void(0)', class: "subscribe-link" %></li>
		<li><%= link_to "Delivery", delivery_path %></li>
		<li><%= link_to "Returns", returns_path %></li>
		<li><%= link_to "Legal", legal_path %></li>
		<li><%= link_to "Follow Us", 'javascript:void(0)', class: "follow-link" %></li>
	</ul>
</footer><!-- 
<div class="social-container"></div> -->
<!-- <footer id="mobile_footer">
	<ul>
		<li><%= link_to image_tag("lm_logo.svg", alt: "LUKE MACAULEY", class: "logo"), root_path %></li>
		<li><%= link_to image_tag("menu.svg", alt: "LUKE MACAULEY", class: "menu"), 'javascript:void(0)' %></li>
	</ul>
</footer> -->